{% extends 'emails/base_template.html' %}
{% block content %}

<div class="message_container">
    <p>Hello,</p>
    <p>You have been invited by {{invited_by}} to become a billing administrator for {{account}}'s Gluu licenses. 
    {% if not existing %}
		Please create your administrator account <a href="{{invitation_link}}">here</a>.</p>
	{% else %}
		Please sign in <a href="{{invitation_link}}">here</a> with your Gluu account to access the oxd license management dashboard.
	{% endif %}
    <p>
        Thank you,<br/>
        Gluu
    </p>
</div>

{% endblock %}